{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instituto Solidare | Home</title>
    <link rel="stylesheet" href="{% static "instsoli/css/style.css" %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>    
    {% include "instsoli/partials/sidebar.html" %}

    <main>
        <h1>Home page</h1>
    </main>

    <script src="{% static "instsoli/js/scripts.js" %}"></script>
</body>
</html>