{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instituto Solidare | Gerenciar Turmas</title>
    <link rel="stylesheet" href="{% static 'instsoli/css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {% include "instsoli/partials/sidebar.html" %}

    <main style="padding: 20px;">
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px;">
            <h1 style="font-size: 2rem; font-weight: bold;">Minhas Turmas</h1>
            <a href="{% url "instsoli:criar_turma" %}" class="btn-criar-turma">+ Criar Turma</a>
        </div>

        <section style="display: flex; flex-wrap: wrap; gap: 20px;">
            {% for turma in turmas %}
            <div class="gerenciar_turmas-card">
                <a href="{% url 'instsoli:excluir_turma' turma.id %}" class="btn-excluir" onclick="return confirm('Tem certeza que deseja excluir esta turma?')">
                    <i class='bx bx-x'></i>
                </a>
                <h3>{{ turma.nome }}</h3>
                <p><strong>Curso:</strong> {{ turma.curso.nome }}</p>
                <p><strong>Alunos:</strong> {{ turma.alunos.count }}</p>
                <div class="turma-actions">
                    <a href="{% url 'instsoli:ver_alunos' turma.id %}">Ver Alunos</a>
                    <a href="{% url "instsoli:editar_turma" turma.id %}">Editar turma</a>
                    <a href="{% url "instsoli:registrar_frequencia" turma.id %}">Frequência</a>
                </div>
            </div>
            {% empty %}
            <p>Você ainda não possui turmas cadastradas.</p>
            {% endfor %}
        </section>

    </main>

    <script src="{% static 'instsoli/js/scripts.js' %}"></script>
</body>
</html>
