{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instituto Solidade | Login</title>
    <link rel="stylesheet" href=" {% static "usuario/css/style.css" %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    {% include "instsoli/partials/sidebar.html" %}

    <main>
        <div class="login-form">
            <div class="wrapper-2">
                <form action="" method="POST">
                    <h1>Login</h1>
                    <div class="input-box-2">
                        <div class="input-field">
                            <input type="text" placeholder="Email" name="username" id="username" autocomplete="off" required>
                            <i class="bx bxs-user"></i>
                        </div>
                        <div class="input-field">

                            <input type="password" placeholder="Senha" name="password" id="password" autocomplete="off" required>
                            <i class="bx bxs-lock-alt"></i>
                        </div>
                    </div>
                  <button type="submit" class="btn-2">Login</button>
                  <p>Não possui uma conta? <a href="{% url "usuario:register" %}">Cadastre-se</a></p>
                </form>
            </div>
        </div>    
    </main>
    
    <script src="{% static "usuario/js/scripts.js" %}"></script>
</body>
</html>