{% load static %}

<aside id="sidebar">
    <!-- Logo -->
    <img src="{% static "instsoli/images/BLOOM SL.png" %}" alt="">  

    <!-- Portal -->
    <a href="{% url "instsoli:home" %}" class="sidebar-link">
        <i class='bx bx-home'></i>
        <h3 class="sidebar-title">Home</h3>
    </a>

    <!-- Listão de Aprovados -->
    <a href="{% url "instsoli:cursos" %}" class="sidebar-link">
        <i class='bx bx-book'></i>
        <h3 class="sidebar-title">Nossos cursos</h3>
    </a>
    
    <!-- Quem Somos -->
    <a {% if user.is_superuser %} href="{% url "instsoli:portal_professor" %}" {% else %} href="{% url "instsoli:portal_aluno" %}" {% endif %}class="sidebar-link">
        <i class='bx bx-chalkboard'></i>
        <h3 class="sidebar-title">Acesso ao Portal</h3>
    </a>

    <!-- Solicitações -->
    <a href="{% if user.is_superuser %}{% url 'instsoli:professor_solicitacoes' %}{% else %}{% url 'instsoli:listar_solicitacoes' %}{% endif %}" class="sidebar-link">
        <i class='bx bx-pencil'></i>
        <h3 class="sidebar-title">Solicitações</h3>
    </a>


    <!-- Listão de aprovados -->
    <a href="{% url "instsoli:listao_aprovados" %}" class="sidebar-link">
        <i class='bx bx-list-check'></i>
        <h3 class="sidebar-title">Listão dos Aprovados</h3>
    </a>
    
    {% if user.is_authenticated %}
    <!-- Logout -->
    <a href="{% url "usuario:logout" %}" class="sidebar-link">
        <i class='bx bx-log-out'></i>
        <h3 class="sidebar-title">Logout</h3>
    </a>
    {% endif %}
    
</aside>

