{% load static %}

<aside id="sidebar">
    <!-- Logo -->
    <img src="{% static "instsoli/images/Instituto Solidare.png" %}" alt="">  

    <!-- Portal -->
    <a href="#" class="sidebar-link">
        <i class='bx bx-door-open'></i>
        <h3 class="sidebar-title">Home</h3>
    </a>

    <!-- Listão de Aprovados -->
    <a href="#" class="sidebar-link">
        <i class='bx bx-book'></i>
        <h3 class="sidebar-title">Nossos cursos</h3>
    </a>
    
    <!-- Inscrições -->
    <a href="#" class="sidebar-link">
        <i class='bx bx-user-circle'></i>
        <h3 class="sidebar-title">Portal do aluno</h3>
    </a>
    
    <!-- Quem Somos -->
    <a href="#" class="sidebar-link">
        <i class='bx bx-chalkboard'></i>
        <h3 class="sidebar-title">Portal do professor</h3>
    </a>

    <a href="#" class="sidebar-link">
        <i class='bx bx-list-check'></i>
        <h3 class="sidebar-title">Listão dos Aprovados</h3>
    </a>

    <a href="#" class="sidebar-link">
        <i class='bx bx-group'></i>
        <h3 class="sidebar-title">Inscrições</h3>
    </a>

    <a href="#" class="sidebar-link">
        <i class='bx bx-group'></i>
        <h3 class="sidebar-title">Quem somos?</h3>
    </a>

    <a href="#" class="sidebar-link">
        <i class='bx bxs-cog'></i>
        <h3 class="sidebar-title">Ajustes</h3>
    </a>
</aside>