{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloom | Portal do Professor</title>
    <link rel="stylesheet" href="{% static 'instsoli/css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {% include "instsoli/partials/sidebar.html" %}

    <main style="padding: 20px;">
        <h1 style="font-size: 2rem; font-weight: bold; margin-bottom: 30px;">Portal do Professor</h1>
        <section style="display: flex; flex-wrap: wrap; gap: 20px;">
            
            <!-- Card 1 -->
            <div class="card">
                <i class='bx bxs-chalkboard icon'></i>
                <h3>Turmas Atribuídas</h3>
                <p>Visualize suas turmas e alunos matriculados.</p>
                <a href="{% url "instsoli:gerenciar_turmas" %}">Acessar</a>
            </div>

            <!-- Card 2 -->
            <div class="card">
                <i class='bx bxs-notepad icon'></i>
                <h3>Gerenciar horários</h3>
                <p>Gerencie os horários das turmas em andamento</p>
                <a href="#">Acessar</a>
            </div>

            <!-- Card 4 -->
            <div class="card">
                <i class='bx bxs-book-alt icon'></i>
                <h3>Materiais Didáticos</h3>
                <p>Anexe materiais didáticos</p>
                <a href="#">Acessar</a>
            </div>
            
            <!-- Card 5 -->
            <div class="card">
                <i class='bx bx-bell icon'></i>
                <h3>Avisos</h3>
                <p>Cadastre avisos para os alunos</p>
                <a href="{% url "instsoli:avisos" %}">Acessar</a>
            </div>

        </section>
    </main>

    <script src="{% static 'instsoli/js/scripts.js' %}"></script>
</body>
</html>

